.benefits {
  //

}

.benefits__container {
  display: flex;
  justify-content: space-between;

}

.benefits__picture {
  //
}

.benefits__image {
  //
}

.benefits__content {
  //
}

.benefits__title {
  margin: 0 0 14px;
}

.benefits__subtitle {
  max-width: 560px;
  margin: 0 0 45px;
}

.benefits__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 34px;
}

.benefits__item-wrapper {
  //
}

.benefits__item {
  //
}

.benefits__item-title {
  margin: 0 0 8px;
}

.benefits__item-text {
  margin: 0;
}

.benefits__item--supportive {
  //
}

.benefits__item--discounted {
  //
}

.benefits__item--sightseeing {
  //
}
