.slider {
  //
}

.slider__toggle {
  //
}

.slider__toggle--previous {
  //
}

.slider__toggle--next{
  //
}

.slider__toggle--current {
  //
}

.slider__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.slider__item {
  //
}

.slider__dots {
  //
}

