.subscribe {
  //
}

.subscribe__title {
  text-align: center;
  color: $secondary-color-text-2;
  margin: 0 0 22px;

}

.subscribe__subtitle {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: $secondary-color-text-2;
  margin: 0 auto 31px;
  max-width: 760px;

}

.subscribe__form {
  //
}
