.button {
  display: inline-block;
  background-color: $accent-bg;
  font-family: $secondary-font;
  color: $secondary-color-text-2;
  font-size: 16px;
  line-height: 26px;
  padding: 12px 40px;
  cursor: pointer;
  min-height: 50px;
  border-radius: 10px;

}

.button--secondary {
  //
}

.button--third {
  background-color: transparent;
  color: $accent-color-text;
  border: $secondary-border;
  border-radius: 10px;
}
