.community-info {
  //
}

.community-info__title {
  color: $secondary-color-text-2;

}

.community-info__list {
list-style-type: none;
padding: 0;
}

.community-info__item {
  //
}

.community-info__link {
  display: block;
  color: $secondary-color-text-2;
  text-decoration: none;
  color: $secondary-color-text-2;
  font-family: Segoi UI;
  font-size: 14px;
  line-height: 24px;

}
