.feedback {
  background-color: #fffbf3;
}

.feedback__container {
  //
}

.feedback__resume {
  line-height: 26px;
  color: $secondary-color-text;
  text-align: center;
}

.feedback__title {
  text-align: center;
}

.feedback__subtitle {
  text-align: center;
}

.feedback__list {
  list-style-type: none;
}

.feedback__item {
  //
}

.feedback__card {
  //
}
