.recommends {
  //
}

.recommends__container {
  //
}

.recommends__resume {
  line-height: 26px;
  color: $secondary-color-text;
  text-align: center;

}

.recommends__title {
  text-align: center;
}

.recommends__subtitle {
  max-width: 970px;
  text-align: center;
}

.recommends__slider {
  //
}
