.subscribe {
  background-color: $accent-bg;
}

.subscribe__container {
  //
}

.subscribe__title {
  text-align: center;
  color: $secondary-color-text-2;

}

.subscribe__subtitle {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: $secondary-color-text-2;

}

.subscribe__form {
  //
}
